body {
  position: relative;
}

.main {
  background-color: #292929;
  display: flex;
}

.footer {
  background-color: var(--color-dark-gray);
  padding: var(--padding);
  position: absolute;
  width: 100%;
}

.imageBG {
  background-color: black;
  object-fit: cover;
  width: 80vw;
  height: 40vh;
  -webkit-mask-image: linear-gradient(to top, transparent 0, 5%, black 30%);
}

.name {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 60px;
  font-weight: 700;
  position: absolute;
  top: 100px;
  padding-left: 20px;
  text-shadow: 0.1em 0.1em 0.05em #292929a1;
}

.popularity {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  top: 170px;
  padding-left: 20px;
  text-shadow: 0.1em 0.1em 0.05em #292929a1;
}

.followers {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  top: 200px;
  padding-left: 20px;
  text-shadow: 0.1em 0.1em 0.05em #292929a1;
}

.title {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: 700;
  padding: 5px 15px;
}

.genres {
  justify-content: space-around;
  margin: 15px;
  display: flex;
  width: 500px;
}

.genre {
  color: white;
  font-family: 'Montserrat', sans-serif;
  padding: 10px;
  font-size: 15px;
  font-weight: 300;
}

.albums {
  justify-content: start;
  flex-wrap: wrap;
  margin: 20px 15px;
  display: flex;
  width: 150vh;
}

.album:hover {
  background-color: #464343;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.album {
  background-color: #242424;
  border-radius: 3px;
  margin: 5px;
  width: 180px;
  height: 220px;
}

.albumName {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 700;
  padding: 5px 5px;
}

.albumDate {
  padding-top: 5px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  padding-left: 8px;
  font-weight: 700;
}

.albumImage {
  padding-left: 30px;
  padding-top: 15px;
  width: 150px
}

@media (max-width: 1224px) {
  .imageBG {
    object-fit: cover;
    width: 90vw;
    height: 40vh;
    -webkit-mask-image: linear-gradient(to top, transparent 0, 5%, black 70%);
  }
  .name {
    font-size: 42px;
    font-weight: 700;
    position: absolute;
    top: 150px;
    padding-left: 20px;
    text-shadow: 0.1em 0.1em 0.05em #292929a1;
  }
  .popularity {
    font-size: 17px;
    font-weight: 400;
    position: absolute;
    top: 200px;
    padding-left: 20px;
    text-shadow: 0.1em 0.1em 0.05em #292929a1;
  }
  .followers {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    font-weight: 400;
    position: absolute;
    top: 220px;
    padding-left: 20px;
    text-shadow: 0.1em 0.1em 0.05em #292929a1;
  }
  .title {
    font-size: 22px;
    font-weight: 600;
    padding: 5px 15px;
  }
  .genres {
    flex-wrap: wrap;
    justify-content:start;
    margin: 15px;
    display: flex;
    width: 200px;
  }
  .albums {
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px 15px;
    display: flex;
    width: 180px;
  }
  .album {
    border-radius: 3px;
    margin: 5px;
    width: 180px;
    height: 220px;
  }
  .album:hover {
    background-color: #464343;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}