.artistIntro {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 30px;
}

.photograph {
  margin: 20px;
}

.info {
  display: flex;
  flex-direction: column;
  padding-left: 5%;
}

.name {
  font-weight: bold;
  color: #1c1c1c;
  font-size: 25px;
  margin: 10px 0 25px;
}

.popularity,
.genres {
  font-size: 18px;
  line-height: 17px;
}

.popularity {
  margin-bottom: 15px;
}
