.artistIntro {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 30px;
  padding: 0 20px;
}

.photograph {
  margin: 20px;
}

.info {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.name {
  font-weight: bold;
  color: var(--color-purple);
  font-size: 25px;
  margin: 10px 0 25px;
  line-height: 30px;
}

.popularity,
.genres {
  font-size: 18px;
  line-height: 17px;
}

.popularity {
  margin-bottom: 15px;
}

@media only screen and (min-width: 1024px) {
  .artistIntro {
    flex-direction: row;
    padding: 20px 0 0 0;
    margin-bottom: 0;
  }

  .photograph {
    margin-right: 50px;
  }
}
