.wrapper {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1224px;
  margin: 0 auto;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #dfdfdf;
  margin: 10px;
  padding: var(--padding);
  width: 120px;
  min-width: 240px;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.card p {
  text-align: center;
  color: var(--color-purple);
  margin: 5px;
}

.card img {
  height: 120px;
  object-fit: contain;
  margin: 5px;
}

.card span {
  display: flex;
  justify-content: center;
}

.card:hover {
  background-color: #cecece;
  -moz-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
