.wrapper{
    margin: 10px;
    display: flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.wrapper > div:nth-child(2){
    margin-left: 40px;
}

.wrapper img{
    width: 200px;
}

@media screen and (max-width: 600px){
    .wrapper img{
        width: 100%;
        margin: 5px auto;
        
    }
    .wrapper {
        display: block;
    }

    .wrapper > div:nth-child(2){
        margin-left: 0;
    }
}

.cardText p{
    margin-bottom: 10px;
}

.listaAlbuns {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}