.wrapper {
  max-width: 1224px;
  padding: 30px 20px;
  margin: 0 auto;
  font: 16px/14px 'Nunito', sans-serif;
}

.iconBack {
  width: 4rem;
  height: 4rem;
  margin-top: 45%;
  align-self: flex-start;
  margin-right: 2rem;
}

.artistContent {
  display: flex;
}

.artistContent .artistCover {
  height: 250px;
}

.artistInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 4rem;
}

.artistInfo h1 {
  font-size: 4rem;
  line-height: 1.4;
}

.artistInfo h5 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.genreList {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}

.genreList li {
  margin-right: 1rem;
  background-color: var(--color-purple);
  color: #fff;
  padding: 0.5rem;
  font-weight: 600;
  border-radius: 5px;
  margin-bottom: 0.5rem;
}

.albumList {
  margin-top: 3rem;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  grid-gap: 1rem;
}

.albumList li {
  padding: 1rem;
  background: #fff;
  border-radius: 5px;
}

.albumList img {
  width: 100%;
  margin-bottom: 1rem;
}

.albumList p {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.albumList span {
  font-size: 0.8rem;
  font-weight: 200;
}

@media only screen and (max-width: 768px) {
  .artistContent .artistCover {
    width: 30vw;
    height: 30vw;
  }

  .artistInfo {
    margin-left: 2rem;
  }

  .artistInfo h1 {
    font-size: 2rem;
  }

  .artistInfo h5 {
    font-size: 1rem;
  }

  .iconBack {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
  }

  .genreList li {
    margin-right: 0.5rem;
    font-size: 0.8rem;
    padding: 0.4rem;
  }
}

@media only screen and (max-width: 500px) {
  .artistContent {
    flex-wrap: wrap;
  }
  .artistContent .artistCover {
    margin-left: auto;
    width: 50vw;
    height: 50vw;
  }
  .artistInfo {
    margin-left: 0;
    margin-top: 1rem;
  }
}
