.header {
  position: relative;
  width: '100%';
  height: 40vh;
  overflow: hidden;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Nunito', sans-serif;
}

.headerImage {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  width: 100%;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.marginBottom {
  margin-bottom: 30px;
}
