.wrapper {
  position: relative;
  display: flex;
  width: 200px;
  height: 275px;
  padding: 1rem;
  font-family: 'Nunito', sans-serif;
  background: #00000060;
  margin: 1rem;
  overflow: hidden;
  border-radius: 0.5rem;
  backdrop-filter: blur(16px);

  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.wrapper:hover{
  transition: all 0.5s;
  background: #00000090;
}

.link{
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.25rem;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background-color: #7262c5;
  border: 2px solid #ffffff40;
  z-index: 1;
}

.link:hover{
  filter: brightness(0.9);
}

.wrapper:hover .link{
  transition: all 0.5s;
  top: 55%;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

.details_image{
  width: 24px;
  height: 24px;
  border: 50%;
  color: #ffffff;
}

.image{
  width: 168px;
  height: fit-content;
  max-height: 168px;
  margin: 0 auto;
  border-radius: 50%;
}

.footer{
  position: absolute;
  bottom: 1rem;
}

.footer_strong{
  display: block;
  color: #ffffff;
  text-shadow: -1px 1px 3px rgba(0,0,0,0.87);
  letter-spacing: 1.05px;
}

.footer_span{
  display: block;
  color: #ffffff;
  text-shadow: -1px 1px 3px rgba(0,0,0,0.87);
  letter-spacing: 1.05px;
}

