.loader {
  border: 16px solid #fff; /* Light grey */
  border-top: 16px solid var(--color-purple); /* Blue */
  border-radius: 50%;
  margin: 20px auto;
  width: 110px;
  height: 110px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}