@import 'shared.module.scss';

.wrapper {
  font-family: 'Roboto', sans-serif;
  background: var(--color-secondary-surface);
  border-radius: 0.5rem;
  padding: 0.625rem 2rem;
  user-select: none;
  text-decoration: none;
  cursor: pointer;

  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    'name picture'
    'popularity picture';
  transition-duration: 0.25s;

  & > :nth-child(3) {
    grid-area: picture;
  }

  &:hover {
    box-shadow: var(--shadow-artist-card-hover);
  }

  @media (max-width: $mobile-breakingpoint) {
    padding: 0.625rem 1rem;
  }
}

.name {
  grid-area: name;
  color: var(--color-on-surface-highlight);
  font-weight: 700;
  font-size: 1.375rem;

  @media (max-width: $mobile-breakingpoint) {
    font-size: 1.125rem;
    font-weight: 600;
  }
}

.popularity {
  grid-area: popularity;
  color: var(--color-on-surface);
  font-weight: 500;
  font-size: 1rem;
  margin-top: 0.5rem;

  @media (max-width: $mobile-breakingpoint) {
    font-size: 0.875rem;
  }
}

.popularityValue {
  font-weight: 700;
}
