@import 'shared.module.scss';

.wrapper {
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 600;
  color: var(--color-on-background);

  &[data-show='false'] {
    opacity: 0;
  }

  @media (max-width: $mobile-breakingpoint) {
    font-size: 0.875rem;
    font-weight: 500;
  }
}
