.input {
  border: none;
  border-radius: 15px;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  margin: 25px 5px;
  padding: 15px;
  width: 300px;
}


@media (max-width: 1224px) {
  .input {
    font-size: 14px;
    height: 10px;
    width: 250px;
  }
}