.input {
    width: 100%;
    color: var(--color-white);
    font: 18px/14px 'Nunito', sans-serif;
    background-color: var(--color-light-gray);
    border: none;
    border-radius: 7px;
    padding-left: 10px;
    height: 40px;
}
  
