.card {
  display: flex;
  align-items: center;
  border-radius: var(--border-radius);
  border: 1px solid var(--color-border);
  position: relative;
  cursor: pointer;
  background-color: var(--color-white);
}
.image {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  border-radius: var(--border-radius);
  width: 100%;
  max-width: 240px;
  height: 240px;
  margin: 0 5% 0 0;
  object-fit: cover;
}
.name {
  margin-top: 3px;
  font-size: 1rem;
}
.content {
  font-size: 0.8em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 170px;
  text-align: center;
}

@media (max-width: 991px) {
  .card {
    width: 100%;
    height: auto;
    display: contents;
  }
  .image {
    max-width: 100%;
  }
}
