.wrapper {
  display: flex;
  flex-direction: column;
  padding: var(--padding);
  color: var(--color-purple);
  font-size: 1rem;
  align-items: center;
}

.wrapper img {
  border-radius: 30%;
  max-width: 260px;
  min-width: 160px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
  border: #fff solid 5px;
}

.informations h1 {
  padding: 25px;
  font-size: 3rem;
}

.informations p {
  color: var(--color-dark-gray);
  margin: 5px 5px;
}
