//Margins
//g

.mar-4{margin: 4px;}

.mar-6{margin: 6px;}

.mar-8{margin: 8px;}

.mar-10{margin: 10px;}

.mar-12{margin: 12px;}

.mar-14{margin: 14px;}
 
.mar-16{margin: 16px;}

.mar-18{margin: 18px;}

.mar-20{margin: 20px;}

.mar-30{margin: 30px;}

.mar-40{margin: 40px;}

.mar-50{margin: 50px;}

//Hor

.mar-h-4{margin: 0 4px;}

.mar-h-6{margin: 0 6px;}

.mar-h-8{margin: 0 8px;}

.mar-h-10{margin: 0 10px;}

.mar-h-12{margin: 0 12px;}

.mar-h-14{margin: 0 14px;}
 
.mar-h-16{margin: 0 16px;}

.mar-h-18{margin: 0 18px;}

.mar-h-20{margin: 0 20px;}

.mar-h-30{margin: 0 30px;}

.mar-h-40{margin: 0 40px;}

.mar-h-50{margin: 0 50px;}

//Ver

.mar-v-4{margin: 4px 0;}

.mar-v-6{margin: 6px 0;}

.mar-v-8{margin: 8px 0;}

.mar-v-10{margin: 10px 0;}

.mar-v-12{margin: 12px 0;}

.mar-v-14{margin: 14px 0;}

.mar-v-16{margin: 16px 0;}

.mar-v-18{margin: 18px 0;}

.mar-v-20{margin: 20px 0;}

.mar-v-30{margin: 30px 0;}

.mar-v-40{margin: 40px 0;}

.mar-v-50{margin: 50px 0;}

//Top

.mar-t-4{margin-top: 4px;}

.mar-t-6{margin-top: 6px;}

.mar-t-8{margin-top: 8px;}

.mar-t-10{margin-top: 10px;}

.mar-t-12{margin-top: 12px;}

.mar-t-14{margin-top: 14px;}
 
.mar-t-16{margin-top: 16px;}

.mar-t-18{margin-top: 18px;}

.mar-t-20{margin-top: 20px;}

.mar-t-30{margin-top: 30px;}

.mar-t-40{margin-top: 40px;}

.mar-t-50{margin-top: 50px;}

//Bottom

.mar-b-4{margin-bottom: 4px;}

.mar-b-6{margin-bottom: 6px;}

.mar-b-8{margin-bottom: 8px;}

.mar-b-10{margin-bottom: 10px;}

.mar-b-12{margin-bottom: 12px;}

.mar-b-14{margin-bottom: 14px;}
 
.mar-b-16{margin-bottom: 16px;}

.mar-b-18{margin-bottom: 18px;}

.mar-b-20{margin-bottom: 20px;}

.mar-b-30{margin-bottom: 30px;}

.mar-b-40{margin-bottom: 40px;}

.mar-b-50{margin-bottom: 50px;}

//Right

.mar-r-4{margin-right: 4px;}

.mar-r-6{margin-right: 6px;}

.mar-r-8{margin-right: 8px;}

.mar-r-10{margin-right: 10px;}

.mar-r-12{margin-right: 12px;}

.mar-r-14{margin-right: 14px;}
 
.mar-r-16{margin-right: 16px;}

.mar-r-18{margin-right: 18px;}

.mar-r-20{margin-right: 20px;}

.mar-r-30{margin-right: 30px;}

.mar-r-40{margin-right: 40px;}

.mar-r-50{margin-right: 50px;}

//Left

.mar-l-4{margin-left: 4px;}

.mar-l-6{margin-left: 6px;}

.mar-l-8{margin-left: 8px;}

.mar-l-10{margin-left: 10px;}

.mar-l-12{margin-left: 12px;}

.mar-l-14{margin-left: 14px;}
 
.mar-l-16{margin-left: 16px;}

.mar-l-18{margin-left: 18px;}

.mar-l-20{margin-left: 20px;}

.mar-l-30{margin-left: 30px;}

.mar-l-40{margin-left: 40px;}

.mar-l-50{margin-left: 50px;}

//Centralize

.mar-h-cen{margin: 0 auto}

.mar-v-cen{margin: auto 0}


//Misc

.mar-a-h-80{
    margin: 0 80px;
}

.mar-child-18{
    &:nth-last-child(1){
        margin-left: 18px;
    }
}