.paper {
  background: #fff;
  display: inline-block;
  padding: 10px;
  border-radius: 10px;
  min-height: 300px;
  margin: 10px 10px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.paper:hover {
  cursor: pointer;
  -webkit-animation: paper 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: paper 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes paper {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: translateZ(50px);
    transform: translateZ(50px);
    -webkit-box-shadow: 0 -12px 20px -12px rgba(0, 0, 0, 0.35),
      0 12px 20px -12px rgba(0, 0, 0, 0.35);
    box-shadow: 0 -12px 20px -12px rgba(0, 0, 0, 0.35),
      0 12px 20px -12px rgba(0, 0, 0, 0.35);
  }
}

@keyframes paper {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: translateZ(50px);
    transform: translateZ(50px);
    -webkit-box-shadow: 0 -12px 20px -12px rgba(0, 0, 0, 0.35),
      0 12px 20px -12px rgba(0, 0, 0, 0.35);
    box-shadow: 0 -12px 20px -12px rgba(0, 0, 0, 0.35),
      0 12px 20px -12px rgba(0, 0, 0, 0.35);
  }
}
