.topbar {
  width: 100%;
  background-color: var(--color-purple);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  .topbar-container {
    max-width: 1330px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
}