.button {
  border: none;
  border-radius: 22px;
  border-width: 0;
  color: var(--color-white);
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: bold;
  min-height: 40px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 30px;
  background-color: #1abc9c;
  cursor: pointer;
  transition: all 300ms ease;
}

.button:hover {
  background-color: #13866f;
}
