.contentBreadcrumb{
  background: #fff;
}

.breadcrumb {
  max-width: 1224px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.313em 20px;
}

.breadcrumbLinks {
  display: inline-block;
  text-align: left;
}

.breadcrumbTitle{
  padding: 0.625em 0;
}

.heading{
  padding:0.625em 0;
}

.innerDiv {
  display: flex;
  flex-direction: column;
}


@media (max-width: 1224px) {
  .header {
    padding: 17px 0;
  }

  .wrapper {
    padding: 0 10px;
  }
}
