.wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 16px;
  max-width: 1224px;
  padding: 30px 18px;
  margin: 0 auto;
  width: 100%;
  text-align: center;

  h2 {
    margin-top: 12px;
    border-bottom: 2px solid #655aa3;
    width: fit-content;
    color: #655aa3;
    padding-bottom: 4px;
  }
}

.artistInfo {
  display: flex;
  gap: 16px;

  .artistImage {
    width: 320px;
    height: 280px;
    border-radius: 12px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 12px;
      min-width: 120px;
    }
  }

  .artistContent {
    margin-top: 18px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    h1 {
      font-size: 48px;
      margin: 0;
      padding: 0;
      color: #655aa3;
      line-height: 48px;
    }

    p {
      margin-top: 12px;
      margin-left: 2px;

      & + p {
        margin-top: 4px;
      }
    }
  }
}

.albums {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-content: center;

  .cardAlbum {
    width: 200px;
    height: fit-content;
    padding: 8px;
    background-color: #e9e9e9;
    display: flex;
    flex-direction: column;
    gap: 12px;
    border-radius: 12px;
    margin: 0 auto;

    .cardImage {
      width: 100%;
      height: 190px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 12px;
      }
    }

    .cardContent {
      display: flex;
      flex-direction: column;
      gap: 12px;

      h3 {
        line-height: 24px;
      }
    }
  }
}
