@import 'shared.module.scss';

.wrapper {
  max-width: $max-page-content-width;
  margin: 0 auto;
  padding: 4rem 1rem;
  font-family: 'Roboto', sans-serif;
  min-height: calc(100vh - var(--height-nav-bar) - var(--height-footer));

  display: flex;
  flex-direction: column;

  @media (max-width: $mobile-breakingpoint) {
    padding: 2rem 0.5rem;
  }
}
