ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    display:flex;
  }
  ul.breadcrumb li {
    display: inline;
    font-size: 18px;
  }
  ul.breadcrumb li+li:before {
    padding: 8px;
    color: #1fdf64;
    content: "/\00a0";
  }
  ul.breadcrumb li a {
    color: #1fdf64;
    text-decoration: none;
  }
  ul.breadcrumb li a:hover {
    color: #c0c6c6;
    text-decoration: underline;
  }