.wrapper {
  max-width: 1224px;
  padding: 0 20px;
  margin: 0 auto;
  font: 16px/14px 'Nunito', sans-serif;
}

.voltar {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bold;
}
