.wrapper {
  max-width: 1024px;
  margin-bottom: 50px;
}
.wrapperList {
  display: flex;
  flex-wrap: wrap;
}
.list {
  padding: 10px;
  list-style: none;
}
.img {
  width: 100%;
  height: 100%;
  padding-top: 30px;
}
