.nav-bar {
  background-color: var(--color-purple);
}

.content {
  min-height: calc(100vh - var(--height-nav-bar) - var(--height-footer));
  background-color: #171717;
  color: #fff;
  font-family: 'Nunito';
}

.footer {
  background-color: var(--color-dark-gray);
  padding: var(--padding);
}

.nav {
  position: absolute;
  top: 17px;
  list-style: none;
  left: 45%;
  display: flex;
  align-items: center;
}

ul>li {
  margin: 0 10px;
}

ul>li>a {
  text-decoration: unset;
  color: #fff;
  font-family: inherit;
  font-size: 18px;
}
