.nav-bar {
  background-color: var(--color-purple);
}

.content {
  min-height: calc(100vh - var(--height-nav-bar) - var(--height-footer));
}

.footer {
  background-color: var(--color-dark-gray);
  padding: var(--padding);
}

.main {
  background-color: #292929;
  display: flex;
}

@media (max-width: 1224px) {
  .footer {
    position: absolute;
    width: 100%;
  }
}