.nav-bar {
  background-color: var(--color-purple);
  > div {
    height: var(--height-nav-bar);
  }
}

.content {
  min-height: calc(100vh - var(--height-nav-bar) - var(--height-footer));
}

.footer {
  background-color: var(--color-dark-gray);
  padding: var(--padding);
}
