.card {
  background: var(--color-full-white);
  display: flex;
  justify-content: space-around;
  border-radius: 4px;
  border: none;
  position: relative;
  cursor: pointer;
  background-color: var(--color-white);
  border-color: var(--color-purple);
  margin: 12px;
  text-align: center;
}
.Imagem,
.NoImagem {
  border-radius: 4px;
  width: 160px;
  height: 160px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  margin: 0;
}

.name {
  padding: 5px;
  font-size: 1.1em;
  align-items: center;
  text-decoration: none;
  background-color: var(--color-purple);
  color: var(--color-white);
}

@media (min-width: 541px) {
  .card {
    max-width: 100%;
    height: auto;
  }
  .name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 160px;
  }
}

@media (max-width: 540px) {
  .card {
    width: 100%;
    height: auto;
    display: contents;
  }
  .Imagem {
    width: 100%;
    height: auto;
  }
  .NoImagem {
    width: 100%;
    height: auto;
    zoom: 2;
  }
  .name {
    width: 100%;
  }
}
