.card {
  align-items: center;
  background-color: #242424;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 235px;
  margin: 30px;
  padding: 15px;
  width: 200px;
}

.cardsHome {
  display: flex;
  flex-wrap: wrap;
}

.cardHome {
  align-items: flex-start;
  background-color: #242424;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 5px;
  max-height: 230px;
  padding: 20px;
  width: 180px;
}

.cardHome:hover {
  background-color: #464343;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.imageCard {
  border-radius: 80px;
  max-height: 350px;
  max-width: 130px;
}

.imageCardHome {
  border-radius: 5px;
  height: 300px;
  width: 100px;
}

.name {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  font-weight: 900;
  letter-spacing: -0.2px;
}

.nameHome {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  font-weight: 500;
  padding: 15px 5px;
  margin: 5px;
}

.results {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: 400;
  padding: 5px 30px;
}

.category {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: 200;
  padding-top: 5px;
}

.notFound {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 600;
  padding: 5px 30px;
}

@media (max-width: 1224px) {
  .card {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: auto;
    max-height: 210px;
    padding: 20px;
    width: 180px;
    position: absolute;
    top: 340px;
  }
  .imageCard {
    max-height: 150px;
    width: 100px;
  }
  .name {
    padding-top: 5px;
    font-size: 20px;
    font-weight: 700;
  }
  .category {
    padding-top: 5px;
    font-size: 15px;
    font-weight: 100;
  }
  .results {
    font-size: 22px;
    padding: 15px 20px;
    position: absolute;
    top: 320px;
  }
  .notFound {
    font-size: 18px;
    font-weight: 400;
    padding: 15px 20px;
    position: absolute;
    top: 320px;
  }
}