.card {
  display: block;
  border-radius: 5px;
  background-color: var(--color-dark-gray);
  min-width: 0;
  padding: 1rem 1rem;

  text-align: center;
  white-space: nowrap;                  
  overflow: hidden;
  text-overflow: ellipsis;
}

.card .imgContainer {
  width: 100%;
  text-align: center;
  margin-bottom: 1.5rem;
}

.card .imgContainer img{
  width: 165px;
  height: 165px;
  border-radius: 100%;
  object-fit: cover;
}

.card span {
  font-size: 1.4rem;
}

@media (max-width: 720px) {
  .card {
    align-items: center;
  }
}