.artist {
	text-align: center;
	width: 200px;
	height: 200px;
	margin: 50px 20px;
}

.cover {
	box-shadow: 0 0 10px rgba(0,0,0,.3);
	border-radius: 50%;
  transition-property: opacity;
  transition-duration: .3s;
  transition-timing-function: cubic-bezier(.3,0,.4,1);
  position: relative;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover!important;
  background-position: 50%;
  opacity: 1;
}

.info {
	margin-top: 10px;
	color: rgb(27, 188, 156);
	transition: all 300ms ease 0;
}
.info:hover {
	cursor: pointer;
	color: rgb(19, 134, 111);
}