.controllers{
  max-height: 64px;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.controllers span{
  font-size: 12px;
  font-weight: 600;
  padding: 0 0.5rem;
}



@media(max-width:  510px){
  .controllers{
    margin-bottom: 0.5rem;
  }
}
