.coverArtists {
  border-radius: 15px;
  width: 15rem;
  height: 15rem;
  object-fit: cover;
  padding-right: 5%;
}

@media screen and (max-width: 600px) {
  .coverArtists {
   width: 10rem;
   height: 10rem;
  }
}

.Artists {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.w100 {
  width: 100%;
}

.artistLabel {
  width: 100%;
  padding: 1%;
}
