.container {
  padding: var(--padding);
  min-height: 100vh;
  color: var(--color-white);
  position: relative;
  min-height: 200px;
}

.listResults {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 24px;
}

.spinnerWrapper {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}
