.inputSearch {
  width: 275px;
  height: 50px;
  padding-left: 15px;
  background-color: white;
  border-radius: 15px;
  border: none;
}

@media only screen and (min-width: 1024px) {
  .inputSearch {
    width: 400px;
  }
}
