.list {
  margin-top: var(--margin) 0;
}

.item {
  list-style: none;
}

.link {
  text-decoration: none;
}

.artist {
  align-items: center;
  display: flex;
  min-height: 45px;
  padding: var(--padding) 0;
  width: 100%;
}

.image {
  border-radius: 50%;
  height: 45px;
  margin-right: var(--margin);
  min-width: 45px;
  width: 45px;
}