@import 'shared.module.scss';

.wrapper {
  margin-top: 1.5rem;
}

.header {
  margin-bottom: 2rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--color-on-background-highlight);

  @media (max-width: $mobile-breakingpoint) {
    font-size: 1.25rem;
    font-weight: 600;
  }
}

.totalCount {
  font-size: 1rem;
  font-weight: 600;
  color: var(--color-on-background);

  @media (max-width: $mobile-breakingpoint) {
    font-size: 0.875rem;
    font-weight: 500;
  }
}

.list {
  & > :nth-child(n + 2) {
    margin-top: 1rem;
  }
}
