@import 'shared.module.scss';

.wrapper {
  font-family: 'Roboto', sans-serif;
  background: var(--color-secondary-surface);
  border-radius: 0.5rem;
  padding: 0.625rem 2rem;
  user-select: none;
  text-decoration: none;
  transition-duration: 0.3s;
  background-size: 200% 100%;
  background-position-x: 100%;
  cursor: pointer;

  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    'name picture'
    'popularity picture';
  grid-gap: 0.5rem 0.25rem;

  &:hover {
    background-position-x: 0;
  }

  @media (max-width: $mobile-breakingpoint) {
    padding: 0.625rem 0.75rem;
  }
}

.name {
  grid-area: name;
  color: var(--color-on-surface-highlight);
  font-weight: 700;
  font-size: 1.375rem;
  overflow: hidden;
  text-overflow: ellipsis;

  @media (max-width: $mobile-breakingpoint) {
    font-size: 1.125rem;
    font-weight: 600;
  }
}

.popularity {
  grid-area: popularity;
  color: var(--color-on-surface);
  font-weight: 500;
  font-size: 1rem;

  @media (max-width: $mobile-breakingpoint) {
    font-size: 0.875rem;
  }
}

.popularityValue {
  font-weight: 700;
}
