.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 30vh;
}

.wrapper span {
  border: 12px solid #fff;
  border-top: 10px solid var(--color-purple);
  border-radius: 50%;
  width: 70px;
  height: 70px;
  animation: loading 1.2s linear infinite;
}

@-webkit-keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
