.sidebar {
  background-color: #121212a1;
  color: #b3b3b3;
  height: 150vh;
  padding-top: 24px;
  position: relative;
  width: 15%;
}

.logo {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.title {
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  font-weight: 900;
}

.image {
  max-height: 50px;
  max-width: 60px;
  height: auto;
  width: auto;
  padding-right: 10px;
}

.icons {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-top: 100px;
}

.icon {
  align-items: center;
  display: flex;
  padding-bottom: 120px;
}

.icon:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.iconImage {
  max-height: 40px;
  max-width: 50px;
  height: auto;
  width: auto;
  padding-right: 10px;
}

.iconParag {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 700;
}

@media (max-width: 1224px) {
  .sidebar {
    height: auto;
    padding-top: 24px;
    position: relative;
    width: 350px;
  }
  .logo {
    padding-left: 8px;
    flex-wrap: wrap;
    align-items:baseline;
    display: flex;
    justify-content: center;
  }
  .image {
    max-height: 40px;
    max-width: 50px;
    height: auto;
    width: auto;

  }
  .title {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 5700;
    padding-top: 10px;
  }
  .iconImage {
    max-height: 50px;
    max-width: 15px;
    height: auto;
    width: auto;
    padding-right: 5px;
  }
  .iconParag {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 600;
  }
  .icon {
    align-items: center;
    display: flex;
    padding-bottom: 20px;
  }
}