.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 1224px;
  padding: 30px 20px;
  margin: 0 auto;
  font-family: 'Nunito', sans-serif;
}

.header_container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.loading_container{
  position: absolute;
  left: 50%;
  top: 100px;
  transform: translate(-50%);
  width: 100%;
  text-align: center;
}

.loading_hidden{
  display: none;
}

.cards{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: fit-content;
  margin-top: 2rem;
  gap: 2.75rem;
}

.not_found{
  width: 100vw;
  font-size: 1rem;
  text-align: center;
}

@media(max-width:  510px){
  .cards{
    gap: 1rem;
  }
}

@media(max-width:  510px){
  .header_container{
    flex-direction: column;
  }

  .label_search{
    margin: 0;
    margin-bottom: 1rem;
  }

  .loading_container{
    top: 145px
  }
}
