.list {
  margin-top: var(--margin);
}

.item {
  list-style: none;
}

.album {
  align-items: center;
  display: flex;
  min-height: 54px;
  padding: var(--padding) 0;
  width: 100%;
}

.image {
  border-radius: 5px;
  height: 54px;
  margin-right: var(--margin);
  min-width: 54px;
  width: 54px;
}