.spinContainer {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.spin {
  border: 16px solid #dcdcdc;
  border-top: 16px solid var(--color-purple);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
