.wrapper_list {
  display: flex;
  flex-wrap: wrap;
}
.list{
  padding-top: var(--padding-top);
  width: 360px;
  list-style: none;
}
.link {
  text-decoration: none;
}
.image {
  max-width: 100%;
  height: 80%;
}
