.wrapper {
  max-width: 1224px;
  padding: 30px 20px;
  margin: 0 auto;
  font: 16px/14px 'Nunito', sans-serif;
}

.divButton{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.divButton span {
  font-size: large;
  padding-bottom: 2rem;
}

.languageSelector {
  padding: 10px
} img{
  cursor: pointer;
  padding: 5px;
  opacity: 50%;
}

.languageSelected{
  opacity: 100% !important;
}