:root {
  --color-dark-gray: #333333;
  --color-purple: #655ba2;
  --color-white: #f2f4f5;
  --height-footer: 59px;
  --height-nav-bar: 63px;
  --height-sub-header: 92px;
  --padding: 20px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
}

body {
  background: var(--color-white);
  color: #444444;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  } to {
    opacity: 1;
  }
}
