:root {
  // dimensions
  --height-footer: 59px;
  --height-nav-bar: 63px;
  --padding: 20px;

  // colors
  --color-dark-gray: #333333;
  --color-purple: #655ba2;
  --color-white: #f2f4f5;

  --color-primary: #7229e6;
  --color-on-primary: #ffffff;
  --color-background: #f9f8fc;
  --color-on-background: #808080;
  --color-on-background-highlight: #444444;
  --color-search-bar: #fdfdff;
  --color-on-search-bar: #a0a0a0;
  --color-on-search-bar-highlight: #444444;
  --color-primary-surface: linear-gradient(
    to right,
    rgba(200, 200, 200, 0.8),
    rgba(200, 200, 200, 0.1)
  );
  --color-secondary-surface: linear-gradient(
    to right,
    rgba(200, 200, 200, 0.5),
    rgba(200, 200, 200, 0.1)
  );
  --color-on-surface: #909090;
  --color-on-surface-highlight: #444444;
  --color-default-picture: #606060;
  --color-on-default-picture: #a0a0a0;
  --color-on-loading: #d4d4d4;
  --color-on-loading-highlight: #c0c0c0;
  --color-on-loading-effect: linear-gradient(
    105deg,
    rgba(255, 255, 255, 0) 30%,
    rgba(255, 255, 255, 0.5) 50%,
    rgba(255, 255, 255, 0) 70%
  );

  // shadows
  --shadow-search-bar: 0 0 0.75rem rgba(0, 0, 0, 0.1);
  --shadow-artist-picture: 0 0 1.25rem rgba(0, 0, 0, 0.15);
  --shadow-album-picture: 0 0 1rem rgba(0, 0, 0, 0.1);
  --shadow-artist-card-hover: 0 0 0.5rem rgba(0, 0, 0, 0.1);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--color-white);
}
