:root {
  --color-dark-gray: #333333;
  --color-purple: #655ba2;
  --color-white: #f2f4f5;
  --height-footer: 59px;
  --height-nav-bar: 63px;
  --padding: 20px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--color-white);
}

html,
body {
  height: 100%;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}
