:root {
  --color-dark-gray: #333333;
  --color-purple: #655ba2;
  --color-white: #f2f4f5;
  --color-gray: #bababa;
  --color-full-white: #fff;
  --color-green: #04D361;

  --color-vivid-blue: #4eb7ff;
  --color-vidid-light-pink: #fd6494;
  --color-vidid-green: #43f390;
  --color-vidid-yellow: #ffb508;
  --color-vidid-dark-green: #37ba82;
  --color-vidid-pink: #cd57ff;


  --height-footer: 59px;
  --height-nav-bar: 63px;
  --padding: 20px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--color-white);
}
