:root {
  --color-dark-gray: #333333;
  --color-purple: #655ba2;
  --color-white: #f2f4f5;
  --height-footer: 59px;
  --height-nav-bar: 63px;
  --padding: 20px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--color-white);
}

h1 {
  padding: 0 !important;
}

button {
  cursor: pointer;
}

.flex-container {
  display: flex;
  flex-direction: row;
  padding: 0 15px;
}

@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}
