.image {
  width: 240px;
  height: 240px;
  border-radius: 20px;
}

.marginRight {
  margin-right: 10px;
}

.font {  
  font-family: 'Nunito', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}