.wrapper {
  max-width: 1224px;
  padding: 30px 20px;
  margin: 0 auto;
  font: 16px/14px 'Nunito', sans-serif;
}

.forminput {
  padding: 15px;
  width: 100%;
  border: 1px solid #655AA3;
  border-radius: 50px;
  color: #494c4d;
  font-size: 15px;
}

.forminput:hover, .forminput:focus, .forminput:active {
  outline: none;
}

.artist {
  padding: 10px;
  margin: 15px 0;
  background: #fff;
}

.artist h2 {
  padding: 15px 0;
}

.artist p {
  padding: 7px 0;
}

.artist button {
  border: none;
  background: #655AA3;
  padding: 10px 15px;
  border-radius: 50px;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 900;
}