.pad-4 {
  padding: 4px; }

.pad-6 {
  padding: 6px; }

.pad-8 {
  padding: 8px; }

.pad-10 {
  padding: 10px; }

.pad-12 {
  padding: 12px; }

.pad-14 {
  padding: 14px; }

.pad-16 {
  padding: 16px; }

.pad-18 {
  padding: 18px; }

.pad-20 {
  padding: 20px; }

.pad-30 {
  padding: 30px; }

.pad-h-4 {
  padding: 0 4px; }

.pad-h-6 {
  padding: 0 6px; }

.pad-h-8 {
  padding: 0 8px; }

.pad-h-10 {
  padding: 0 10px; }

.pad-h-12 {
  padding: 0 12px; }

.pad-h-14 {
  padding: 0 14px; }

.pad-h-16 {
  padding: 0 16px; }

.pad-h-18 {
  padding: 0 18px; }

.pad-h-20 {
  padding: 0 20px; }

.pad-h-30 {
  padding: 0 30px; }

.pad-v-4 {
  padding: 4px 0; }

.pad-v-6 {
  padding: 6px 0; }

.pad-v-8 {
  padding: 8px 0; }

.pad-v-10 {
  padding: 10px 0; }

.pad-v-12 {
  padding: 12px 0; }

.pad-v-14 {
  padding: 14px 0; }

.pad-v-16 {
  padding: 16px 0; }

.pad-v-18 {
  padding: 18px 0; }

.pad-v-20 {
  padding: 20px 0; }

.pad-v-30 {
  padding: 30px 0; }

.pad-t-4 {
  padding-top: 4px; }

.pad-t-6 {
  padding-top: 6px; }

.pad-t-8 {
  padding-top: 8px; }

.pad-t-10 {
  padding-top: 10px; }

.pad-t-12 {
  padding-top: 12px; }

.pad-t-14 {
  padding-top: 14px; }

.pad-t-16 {
  padding-top: 16px; }

.pad-t-18 {
  padding-top: 18px; }

.pad-t-20 {
  padding-top: 20px; }

.pad-t-30 {
  padding-top: 30px; }

.pad-b-4 {
  padding-bottom: 4px; }

.pad-b-6 {
  padding-bottom: 6px; }

.pad-b-8 {
  padding-bottom: 8px; }

.pad-b-10 {
  padding-bottom: 10px; }

.pad-b-12 {
  padding-bottom: 12px; }

.pad-b-14 {
  padding-bottom: 14px; }

.pad-b-16 {
  padding-bottom: 16px; }

.pad-b-18 {
  padding-bottom: 18px; }

.pad-b-20 {
  padding-bottom: 20px; }

.pad-b-30 {
  padding-bottom: 30px; }

.pad-r-4 {
  padding-right: 4px; }

.pad-r-6 {
  padding-right: 6px; }

.pad-r-8 {
  padding-right: 8px; }

.pad-r-10 {
  padding-right: 10px; }

.pad-r-12 {
  padding-right: 12px; }

.pad-r-14 {
  padding-right: 14px; }

.pad-r-16 {
  padding-right: 16px; }

.pad-r-18 {
  padding-right: 18px; }

.pad-r-20 {
  padding-right: 20px; }

.pad-r-30 {
  padding-right: 30px; }

.pad-l-4 {
  padding-left: 4px; }

.pad-l-6 {
  padding-left: 6px; }

.pad-l-8 {
  padding-left: 8px; }

.pad-l-10 {
  padding-left: 10px; }

.pad-l-12 {
  padding-left: 12px; }

.pad-l-14 {
  padding-left: 14px; }

.pad-l-16 {
  padding-left: 16px; }

.pad-l-18 {
  padding-left: 18px; }

.pad-l-20 {
  padding-left: 20px; }

.pad-l-30 {
  padding-left: 30px; }
